@tailwind base;
@tailwind components;
@tailwind utilities;

.todo::-webkit-scrollbar{
    width: 9px;
  }
  ::-webkit-scrollbar-track{
    background: #c5daf6 ;
  }
  ::-webkit-scrollbar-thumb{
    background: #40BFFF;
    border-radius: 10px;
    border: 0px solid transparent;
  }